@*
<style>
    :root{
    --clr-asccent-500:#222222;
    --clr-asccent-900: rgb(0, 0, 0);
    --clr-primary-100:#ffffff;
    --clr-primary-400: #d1d1d1;
    --clr-secondary:#ffc82f;
    --font-primary:
    
}
</style>
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Vehiculos_20200091</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <header class="container-header">
        <div class="nav-column ">
            <div class="nav-logo-shadow"><img  class="nav-logo" src="/lib//img/logo-super-carros.png" alt=""></div>
            <nav class="nav-menu collapse navbar-collapse">
                <NavLink>
                    <a href="" class="nav-menu-item">Home</a>
                </NavLink>
                
                <a href="counter" class="nav-menu-item">Counter</a>
                <a href="fetchdata" class="nav-menu-item">Fetch data</a>
                <a href="vehiculo" class="nav-menu-item">Vehiculo</a>
                <a href="vehiculotest" class="nav-menu-item">VehiculosTest</a>
                <a href="#" class="nav-menu-item">Reviews</a>
                <a href="#" class="nav-menu-item">Features</a>
            </nav>
            <div class="search-container">
                <div class="nav-searchbox">
                    <form class="nav-form" action="">
                    <!-- <form action="/action_page.php"> -->
                        <input type="text" placeholder="Search.." name="search">
                        <button type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </header>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
*@