.container-header[b-m7dgwkf9bz]{
    padding-bottom: 8em;
    background-image: linear-gradient(rgb(255, 255, 255, 1), rgb(255, 255, 255, .35), rgb(255, 255, 255, .45), rgb(255, 255, 255, .35), rgb(255, 255, 255, 1)),url(https://cdn.pixabay.com/photo/2016/11/14/09/23/volkswagen-1822997_960_720.jpg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
}
.header-text[b-m7dgwkf9bz]{
    padding: 0;
    margin: 0;
    text-shadow: #004e9c;
    text-shadow: 0 0 3px #fff, 0 0 5px #fff;
}
.card-header-color[b-m7dgwkf9bz]{
    background-color: #212529/*#4b4b4b*/;
    color: #fff;   
}

