@page "/vehiculo"


<PageTitle>Registro de Vehiculos</PageTitle>

<div class="container-header">

</div>
<h1>Vehiculos</h1>

<!--<div class="card border-primar h-25">
    <div class="card-header card-header-color">
        <p class=" card-title fs-4 text-uppercase fw-normal text-white ">Datos del Vehiculo</p>
    </div>
  <div class="card-body">
    <p class="card-text">Text</p>
      <div class="col-md-4">
    <label for="validationCustom01" class="form-label">First name</label>
    <input type="text" class="form-control" id="validationCustom01" value="Mark" required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
        <div class="col-md-3">
            <label for="validationDefault04" class="form-label">Marca</label>
            <select class=" form-select" id="validationDefault04" required>
            <option selected disabled value="">Choose...</option>
            <option>...</option>
            </select>
        </div>
  </div>
</div>-->

<div class="card">
  <div class="card-header card-header-color">
        <p class=" card-title fs-4 text-uppercase fw-normal text-white ">Datos del Vehiculo</p>
    </div>
  <div class="card-body">

    <form class="row g-3">
      <div class="col-md-6 col-lg-6">
        <label for="validationDefault01" class="form-label">Marca</label>
        <select class="form-select" id="validationDefault01">
          <option selected disabled value="">Choose...</option>
          <option>...</option>
        </select>
      </div>
      <div class="col-md-6 col-lg-6">
        <label for="validationDefault02" class="form-label">Modelo</label>
        <select class="form-select" id="validationDefault01">
          <option selected disabled value="">Choose...</option>
          <option>...</option>
        </select>
      </div>
      <div class="col-md-6 col-lg-6">
        <label for="validationDefault03" class="form-label">Año</label>
        <input type="text" class="form-control" id="validationDefault03" required>
      </div>
      <div class="col-md-6 col-lg-6">
        <label for="validationDefault04" class="form-label">Color</label>
        <select class="form-select" id="validationDefault04" required>
          <option selected disabled value="">Choose...</option>
          <option>...</option>
        </select>
      </div>
      <div class="col-12">
        <button class="btn btn-primary" type="submit">Submit form</button>
      </div>
    </form>
  </div>
</div>

<br>
<div class="btn-group" role="group" data-bs-toggle="buttons">
    <label class="btn btn-primary active">
        <input type="checkbox" class="me-2" name="" id="" checked autocomplete="off"> Choice
    </label>
    <label class="btn btn-primary">
        <input type="checkbox" class="me-2" name="" id="" autocomplete="off"> Choice
    </label>
    <label class="btn btn-primary">
        <input type="checkbox" class="me-2" name="" id="" autocomplete="off"> Choice
    </label>
</div>

<div class="mb-3">
  <label for="" class="form-label">Email</label>
  <input type="email" class="form-control" name="" id="" aria-describedby="emailHelpId" placeholder="abc@mail.com">
  <small id="emailHelpId" class="form-text text-muted">Help text</small>
</div>

<div class="mb-3">
  <label for="" class="form-label">Choose file</label>
  <input type="file" class="form-control" name="" id="" placeholder="" aria-describedby="fileHelpId">
  <div id="fileHelpId" class="form-text">Help text</div>
</div>

<div class="col-md-4">
    <label for="" class="form-label">First name</label>
    <input type="text" class="form-control" id="" value="" required>
  </div>


@code {


}