@inherits LayoutComponentBase
<head>
    <link rel="stylesheet" href="css/sidenavmenu.css">
</head>
<style>

 
</style>
<div class="page">
    <header class="header">
        <nav class="side-nav">
            <div class="top-row ps-3 navbar navbar-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="">Vehiculos_20200091</a>
                    <button title="Navigation menu" class="navbar-toggler">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
            <ul class="primary-navigation">
                <li class="primary-nav-item">
                    <NavLink href="" class="primary-nav-link nav-link">
                        <span class="oi oi-home"></span> Home
                    </NavLink>
                </li>
                <li class="primary-nav-item">
                    <NavLink href="counter" class="primary-nav-link">
                        <span class="oi oi-plus"></span>Counter
                    </NavLink>
                </li>
                <li class="primary-nav-item">
                    <NavLink href="fetchdata" class="primary-nav-link">
                        <span class="oi oi-list-rich"></span>FetchData
                    </NavLink>
                </li>
                <li class="primary-nav-item fl">
                    <NavLink href="vehiculo" class="primary-nav-link">
                        <span class="oi bi-car-front-fill"></span>Vehiculos
                    </NavLink>
                </li>
            </ul>
        </nav>
    </header>

    <main class="home">
        <article class="content px-4 article-bg">
            @Body
        </article>
    </main>
</div>



