@inherits LayoutComponentBase
@layout SideBardMenu

<PageTitle>Vehiculos_20200091</PageTitle>

<style>
    
</style>

<div class="page">
    <div class="sidebar">
        <ul class="custom-nav-sidebard">
            <li class="custom-nav-item">
                <a href="" class="custom-nav-link"></a>
            </li>
            <li class="custom-nav-item">
                <a href="" class="custom-nav-link"></a>
            </li>
            <li class="custom-nav-item">
                <a href="" class="custom-nav-link"></a>
            </li>
            <li class="custom-nav-item">
                <a href="" class="custom-nav-link"></a>
            </li>
            <li class="custom-nav-item">
                <a href="" class="custom-nav-link"></a>
            </li>
        </ul>
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>



