*,
::after,
::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --clr-asccent-500:#222222;
    --clr-asccent-900: rgb(0, 0, 0);
    --clr-primary-100:#ffffff;
    --clr-primary-400: #d1d1d1;
    --clr-secondary:#ffc82f;
    --font-primary:
}
body{
    background-color: var(--clr-asccent-900);
    color: var(--clr-primary-400);
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 16px;   
}
.main-content-article{
    max-width: 60em;
    margin: 0 auto;
    
}
.container-article{
    max-width: 80em;
    margin: 0 auto;
    padding-bottom: 7em;
}
.column-article{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;

}
.column-article-content{
    width: 25vw;
    height: 27vh;
    justify-self: center;
    background-color: red;
}
.footer-container{
    max-width: 87em;
    justify-self: center;
    margin: 0 auto;
}
.content-footer{
    justify-self: center;
}
.footer-column-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
.menu-footer-item{
    list-style: none;
    
    font-family: Verdana,BlinkMacSystemFont,-apple-system,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,open sans,helvetica neue,sans-serif;
}
img{
    width: 100%;
    padding: 0 20px 0 0;
}
.image-column{
    display: flex;
}
a,h3{
    color: var(--clr-secondary);
    text-decoration: none;
}
.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.container-header{
    padding-bottom: 8em;
    background-image: linear-gradient(rgb(255, 255, 255, 1), rgb(255, 255, 255, .35), rgb(255, 255, 255, .45), rgb(255, 255, 255, .35), rgb(255, 255, 255, 1)),url(https://cdn.pixabay.com/photo/2016/11/14/09/23/volkswagen-1822997_960_720.jpg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row a, .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
