@inherits LayoutComponentBase

<PageTitle>Vehiculos_20200091</PageTitle>

<div>
    <VehiculosNavMenu />
    <main>
        
            
        <div class=""></div>
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
